$body-bg:                  #ced4da;
$bg-color-a:               #204a69;
$nav-link-color:           #dc3545;
$main-border-color:        #6c757d;
$cdn-url:                   'https://cdn.movingboxsale.com';